In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
data = pd.read_csv("data/training_data_utf8.csv")

/home/loherzberger/Projects/ML/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

,id,price_per_m2,transaction_ym,plot_area,plot_share,property_type,cadastral,district,contract_type,land_use,land_use_share,protection_zone,building_ban,building_height,building_floors,building_year,longitude,latitude
0,7671,224.351484,2013-12,4279,1.0,Betriebsobjekt,Kagran,Donaustadt,Kaufvertrag,GB,1.00,No,No,NaN,1.0,1990.0,16.464163,48.259071
1,7672,357.995227,2013-12,838,1.0,Abbruchobjekt,Liesing,Liesing,Kaufvertrag,W,1.00,No,No,10.5,2.0,NaN,16.275103,48.133264
2,7673,636.474908,2013-12,817,1.0,"Ein-, Zweifamilienhaus",Atzgersdorf,Liesing,Kaufvertrag,GB,1.00,No,No,3.5,2.0,NaN,16.296926,48.145348
3,7674,906.095552,2013-12,607,1.0,"Ein-, Zweifamilienhaus",Ottakring,Ottakring,Kaufvertrag,W,1.00,No,No,7.5,2.0,NaN,16.290968,48.217580
4,7675,167.941498,2013-12,11897,1.0,unbebaut,Groß Jedlersdorf I,Floridsdorf,Kaufvertrag,W,0.19,No,No,NaN,NaN,NaN,16.418471,48.288753

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44366 entries, 0 to 44365
Data columns (total 18 columns):
id                 44366 non-null int64
price_per_m2       44366 non-null float64
transaction_ym     44366 non-null object
plot_area          44366 non-null int64
plot_share         44366 non-null float64
property_type      44366 non-null object
cadastral          44366 non-null object
district           44294 non-null object
contract_type      44366 non-null object
land_use           44260 non-null object
land_use_share     44320 non-null float64
protection_zone    44366 non-null object
building_ban       44366 non-null object
building_height    7800 non-null object
building_floors    18422 non-null float64
building_year      14739 non-null float64
longitude          32465 non-null float64
latitude           32465 non-null float64
dtypes: float64(7), int64(2), object(9)
memory usage: 6.1+ MB

In [5]:
#describe numerical values
data.describe()

,id,price_per_m2,plot_area,plot_share,land_use_share,building_floors,building_year,longitude,latitude
count,44366.000000,44366.000000,4.436600e+04,44366.000000,44320.000000,18422.000000,14739.000000,32465.000000,32465.000000
mean,29853.500000,789.062369,1.880226e+03,0.959631,0.956965,2.063402,1913.283737,16.363182,48.207192
std,12807.505358,2276.246856,1.064498e+04,0.163726,0.144435,1.902943,37.464120,0.074558,0.039031
min,7671.000000,0.161937,1.000000e+00,0.000260,0.000000,0.000000,1800.000000,15.605753,47.850748
25%,18762.250000,181.682084,4.120000e+02,1.000000,1.000000,0.000000,1894.000000,16.310912,48.179708
50%,29853.500000,354.343664,5.810000e+02,1.000000,1.000000,2.000000,1900.000000,16.352831,48.208886
75%,40944.750000,726.728429,1.035000e+03,1.000000,1.000000,4.000000,1940.000000,16.407386,48.230576
max,52036.000000,197628.458498,1.187781e+06,1.000000,1.000000,12.000000,2017.000000,16.572405,48.314311

In [6]:
#describe categorical values
data.describe(include="O")

,transaction_ym,property_type,cadastral,district,contract_type,land_use,protection_zone,building_ban,building_height
count,44366,44366,44366,44294,44366,44260,44366,44366,7800
unique,324,16,88,23,11,56,2,2,97
top,1988-12,unbebaut,Eßling,Donaustadt,Kaufvertrag,WI/GBI,No,No,6.5
freq,296,15345,2270,8476,38853,12099,43306,43857,2763

In [7]:
corrmat = data.corr()

In [8]:
corrmat["price_per_m2"].sort_values(ascending=False)

price_per_m2       1.000000
building_floors    0.385326
plot_share         0.002082
latitude          -0.011045
plot_area         -0.028618
longitude         -0.038409
land_use_share    -0.050230
building_year     -0.051976
id                -0.133134
Name: price_per_m2, dtype: float64

In [9]:
from math import radians, cos, sin, asin, sqrt
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    km = 6367 * c
    return km

In [10]:
latitude_center = 48.210033
longitude_center = 16.363449

In [11]:
for index, row in data.iterrows():
    data.loc[index, 'distance_to_center'] = haversine(row['longitude'], row['latitude'], longitude_center, latitude_center)

In [12]:
corrmat = data.corr()
corrmat["price_per_m2"].sort_values(ascending=False)

price_per_m2          1.000000
building_floors       0.385326
plot_share            0.002082
latitude             -0.011045
plot_area            -0.028618
longitude            -0.038409
land_use_share       -0.050230
building_year        -0.051976
id                   -0.133134
distance_to_center   -0.268828
Name: price_per_m2, dtype: float64

In [13]:
date = data.transaction_ym.apply(pd.to_datetime, format="%Y-%m")

data["year"] = date.dt.year

corrmat = data.corr()
corrmat["price_per_m2"].sort_values(ascending=False)

price_per_m2          1.000000
building_floors       0.385326
year                  0.131843
plot_share            0.002082
latitude             -0.011045
plot_area            -0.028618
longitude            -0.038409
land_use_share       -0.050230
building_year        -0.051976
id                   -0.133134
distance_to_center   -0.268828
Name: price_per_m2, dtype: float64

In [14]:
relative_share = data.plot_area * data.plot_share
data["relative_share"] = relative_share

corrmat = data.corr()
corrmat["price_per_m2"].sort_values(ascending=False)

price_per_m2          1.000000
building_floors       0.385326
year                  0.131843
plot_share            0.002082
latitude             -0.011045
relative_share       -0.026335
plot_area            -0.028618
longitude            -0.038409
land_use_share       -0.050230
building_year        -0.051976
id                   -0.133134
distance_to_center   -0.268828
Name: price_per_m2, dtype: float64

In [15]:
data = data[data.distance_to_center < 15]
data = data[data.price_per_m2 < 5000]
data.shape

(31708, 21)

In [16]:
data[['building_floors']] = data[['building_floors']].fillna(data[['building_floors']].mean())

In [17]:
corrmat["price_per_m2"].sort_values(ascending=False)

price_per_m2          1.000000
building_floors       0.385326
year                  0.131843
plot_share            0.002082
latitude             -0.011045
relative_share       -0.026335
plot_area            -0.028618
longitude            -0.038409
land_use_share       -0.050230
building_year        -0.051976
id                   -0.133134
distance_to_center   -0.268828
Name: price_per_m2, dtype: float64

In [18]:
data_fillna = data.fillna(data.mean())

In [19]:
corrmat_fillna = data_fillna.corr()
corrmat_fillna["price_per_m2"].sort_values(ascending=False)

price_per_m2          1.000000
building_floors       0.451683
year                  0.266118
plot_share           -0.004921
latitude             -0.011959
relative_share       -0.066015
plot_area            -0.070899
building_year        -0.091530
longitude            -0.120077
land_use_share       -0.132532
id                   -0.269039
distance_to_center   -0.477752
Name: price_per_m2, dtype: float64

In [20]:
data_fillna.describe()

,id,price_per_m2,plot_area,plot_share,land_use_share,building_floors,building_year,longitude,latitude,distance_to_center,year,relative_share
count,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000,31708.00000,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000
mean,30119.745395,669.368170,1101.934780,0.962179,0.957303,2.136811,1911.42537,16.363218,48.207237,6.313230,1999.162798,1023.635921
std,12830.194229,751.763499,3378.021244,0.155454,0.144111,1.175471,22.63051,0.075222,0.039365,3.225591,7.927721,3133.219932
min,7671.000000,0.383400,1.000000,0.001000,0.000000,0.000000,1800.00000,16.190731,48.121595,0.042117,1987.000000,1.000000
25%,19075.750000,224.129779,417.000000,1.000000,1.000000,2.000000,1910.00000,16.309955,48.179050,3.391614,1992.000000,391.781250
50%,30211.000000,414.513038,550.000000,1.000000,1.000000,2.136811,1911.42537,16.351973,48.209024,6.442939,1999.000000,531.250000
75%,41334.500000,793.126241,827.000000,1.000000,1.000000,2.136811,1911.42537,16.409113,48.231179,8.720654,2006.000000,793.000000
max,52034.000000,4992.887624,143858.000000,1.000000,1.000000,12.000000,2017.00000,16.546959,48.314311,14.409620,2013.000000,143858.000000

In [21]:
corrmat_fillna = data_fillna.corr()
corrmat_fillna["price_per_m2"].sort_values(ascending=False)

price_per_m2          1.000000
building_floors       0.451683
year                  0.266118
plot_share           -0.004921
latitude             -0.011959
relative_share       -0.066015
plot_area            -0.070899
building_year        -0.091530
longitude            -0.120077
land_use_share       -0.132532
id                   -0.269039
distance_to_center   -0.477752
Name: price_per_m2, dtype: float64

In [22]:
train_data = data_fillna[["price_per_m2", "building_floors", "year", "distance_to_center", "land_use", "relative_share", "district"]]
train_data_cat = train_data[["land_use", "district"]]
train_data_num = train_data[["year", "distance_to_center", "building_floors", "relative_share"]]

In [23]:
data = train_data.drop("price_per_m2", axis=1)
labels = train_data["price_per_m2"].copy()

In [24]:
#data["contract_type"] = data["contract_type"].astype(str)
data["land_use"] = data["land_use"].astype(str)
data["district"] = data["district"].astype(str)
#data["protection_zone"] = data["protection_zone"].astype(str)

In [25]:
#This is not important
from future_encoders import OrdinalEncoder

train_data_cat["district"] = data["district"]
train_data_cat["land_use"] = data["land_use"]

encoder = OrdinalEncoder()
housing_cat_encoded = encoder.fit_transform(train_data_cat)
encoder.categories_

/home/loherzberger/Projects/ML/venv/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/loherzberger/Projects/ML/venv/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

[array(['0', '110', 'BG', 'BG/IG', 'E', 'E div.', 'EKL', 'EKLW', 'EPK',
        'ESP', 'EW', 'Ekl', 'Eklw', 'Epk', 'Epl', 'Esp', 'Friedhof', 'G',
        'GB', 'GBBG', 'GBGV', 'GS', 'GV', 'IG', 'L', 'P', 'SO',
        'SO/sonstiges', 'SPK', 'SWW', 'SWWL', 'Spk', 'Sww', 'SwwL', 'VB',
        'Verkehrsband', 'Vfl', 'W', 'WI/GBI', 'WII/GBII', 'WIII/GBIII',
        'WIV/GBIV', 'WV/GBV', 'WVI/GBVI', 'Wklw', 'gv', 'nan', 'w', 'we'],
       dtype=object),
 array(['Alsergrund', 'Brigittenau', 'Donaustadt', 'Döbling', 'Favoriten',
        'Floridsdorf', 'Fünfhaus', 'Hernals', 'Hietzing', 'Innere Stadt',
        'Josefstadt', 'Landstraße', 'Leopoldstadt', 'Liesing',
        'Margareten', 'Mariahilf', 'Meidling', 'Neubau', 'Ottakring',
        'Penzing', 'Simmering', 'Wieden', 'Währing', 'nan'], dtype=object)]

In [26]:
#This is not important
data_fillna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31708 entries, 0 to 44363
Data columns (total 21 columns):
id                    31708 non-null int64
price_per_m2          31708 non-null float64
transaction_ym        31708 non-null object
plot_area             31708 non-null int64
plot_share            31708 non-null float64
property_type         31708 non-null object
cadastral             31708 non-null object
district              31651 non-null object
contract_type         31708 non-null object
land_use              31639 non-null object
land_use_share        31708 non-null float64
protection_zone       31708 non-null object
building_ban          31708 non-null object
building_height       6160 non-null object
building_floors       31708 non-null float64
building_year         31708 non-null float64
longitude             31708 non-null float64
latitude              31708 non-null float64
distance_to_center    31708 non-null float64
year                  31708 non-null int64
relative_share        31708 non-null float64
dtypes: float64(9), int64(3), object(9)
memory usage: 5.3+ MB

In [27]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([
    ('std_scaler', StandardScaler())
])

In [28]:
from future_encoders import ColumnTransformer
from future_encoders import OneHotEncoder

num_attribs = list(train_data_num)
cat_attribs = list(train_data_cat)

full_pipeline = ColumnTransformer([
    ("num", num_pipeline, num_attribs),
    ("cat", OneHotEncoder(), cat_attribs)
])

In [29]:
num_attribs

['year', 'distance_to_center', 'building_floors', 'relative_share']

In [30]:
cat_attribs

['land_use', 'district']

In [31]:
data_prepared = full_pipeline.fit_transform(data)
data_prepared

<31708x77 sparse matrix of type '<class 'numpy.float64'>'
	with 172669 stored elements in Compressed Sparse Row format>

In [32]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard Deviation", scores.std())

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

lin_reg = LinearRegression()
lin_reg.fit(data_prepared, labels)

scores = cross_val_score(lin_reg, data_prepared, labels, scoring="neg_mean_squared_error", cv=10)
lin_reg_rmse_scores = np.sqrt(-scores)

display_scores(lin_reg_rmse_scores)

Scores: [808.12770788 636.41497597 576.69471536 549.26574999 507.19696686
 551.5353371  495.35952868 482.1640242  445.04438254 463.72562957]
Mean: 551.552901815762
Standard Deviation 101.32482411231531

In [34]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(data_prepared, labels)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [35]:
scores = cross_val_score(ridge_reg, data_prepared, labels, scoring="neg_mean_squared_error", cv=10)
ridge_reg_rmse_scores = np.sqrt(-scores)

display_scores(ridge_reg_rmse_scores)

Scores: [808.6184839  636.32454895 576.40464601 548.71030681 507.34650588
 552.26640087 495.24240896 482.0553602  444.99419906 463.94646412]
Mean: 551.5909324761449
Standard Deviation 101.42966045596901

In [36]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor()
tree_reg.fit(data_prepared, labels)

scores = cross_val_score(tree_reg, data_prepared, labels, scoring="neg_mean_squared_error", cv=10)
tree_reg_rmse_scores = np.sqrt(-scores)

display_scores(tree_reg_rmse_scores)

Scores: [837.22483965 794.54152449 718.51914686 695.83522714 608.63048618
 626.55840447 597.88066836 619.20542669 586.67166415 554.37586283]
Mean: 663.9443250825703
Standard Deviation 89.37383380085029

In [37]:
feature_importances = tree_reg.feature_importances_
attributes = num_attribs + cat_attribs + list(encoder.categories_[1]) +  list(encoder.categories_[0])
sorted(zip(feature_importances, attributes), reverse=True)

[(0.2919510619276034, 'building_floors'),
 (0.25854653637727915, 'distance_to_center'),
 (0.17397435352312818, 'year'),
 (0.14212402597658702, 'relative_share'),
 (0.01241674064980025, 'Spk'),
 (0.009587881848263688, 'Sww'),
 (0.008707013764501564, 'Friedhof'),
 (0.007485780597504624, 'Ekl'),
 (0.006909472776979342, 'Verkehrsband'),
 (0.005237751378210114, 'SO'),
 (0.004588724673529502, 'WIV/GBIV'),
 (0.0045149979177138665, 'L'),
 (0.004481736292412674, 'Wklw'),
 (0.0043166466818236405, 'Epl'),
 (0.004159768789874884, 'Esp'),
 (0.003979427017328843, 'VB'),
 (0.003940051585097462, 'IG'),
 (0.0039006193475695245, 'gv'),
 (0.003670371960198756, 'WIII/GBIII'),
 (0.0036655024618098674, 'W'),
 (0.003559995442605691, 'Epk'),
 (0.0032343342590424413, 'WI/GBI'),
 (0.0031591490072971572, 'SWW'),
 (0.003055946216598822, 'SO/sonstiges'),
 (0.00305578841919619, 'SWWL'),
 (0.0028263451167365324, 'Eklw'),
 (0.0028054186525216197, 'WII/GBII'),
 (0.002589744213404049, 'Meidling'),
 (0.0025791294938603427, 'SwwL'),
 (0.002284560588952025, 'WV/GBV'),
 (0.0022320505342436773, 'P'),
 (0.0020742372903959573, 'Vfl'),
 (0.0014769085019435944, 'WVI/GBVI'),
 (0.001334796964214564, 'SPK'),
 (0.001295610570786172, 'Brigittenau'),
 (0.0007430455888469566, 'Penzing'),
 (0.0004622941104680118, 'nan'),
 (0.0004519416763451702, 'ESP'),
 (0.0003553622649719845, 'E div.'),
 (0.0002127128766487355, 'Fünfhaus'),
 (0.0002104568107884259, 'GBGV'),
 (0.00020353365855746625, 'Favoriten'),
 (0.00018593141896380513, 'Währing'),
 (0.00018171364616642488, 'Wieden'),
 (0.00015846940946225984, 'EW'),
 (0.00014766789809628184, 'Josefstadt'),
 (0.00014012734723018762, 'EKL'),
 (0.00013831455984260457, 'Landstraße'),
 (0.00012155076133059077, '110'),
 (0.00011472957821940459, 'Floridsdorf'),
 (8.395479751434095e-05, 'EKLW'),
 (7.34573689920322e-05, 'BG/IG'),
 (7.192439294513787e-05, 'BG'),
 (6.267836897179097e-05, 'G'),
 (5.237307121225217e-05, 'E'),
 (2.6589127444925858e-05, 'Innere Stadt'),
 (1.391853945649355e-05, 'land_use'),
 (1.1651243144091741e-05, 'Alsergrund'),
 (1.0620284137075229e-05, 'Liesing'),
 (8.380555457285745e-06, 'Hernals'),
 (6.938488385846414e-06, 'Ottakring'),
 (6.570607346665565e-06, 'Mariahilf'),
 (6.380878338740396e-06, 'Margareten'),
 (3.117443224726559e-06, '0'),
 (3.0608852825132443e-06, 'Leopoldstadt'),
 (2.84920276852524e-06, 'EPK'),
 (2.568445492276396e-06, 'Neubau'),
 (1.8767857304790364e-06, 'nan'),
 (7.56219330597834e-07, 'GB'),
 (8.698710175580149e-10, 'Döbling'),
 (0.0, 'district'),
 (0.0, 'Simmering'),
 (0.0, 'Hietzing'),
 (0.0, 'GV'),
 (0.0, 'GS'),
 (0.0, 'GBBG'),
 (0.0, 'Donaustadt')]

In [38]:
#from sklearn.ensemble import RandomForestRegressor

#forest_reg = RandomForestRegressor()
#forest_reg.fit(data_prepared, labels)

#scores = cross_val_score(forest_reg, data_prepared, labels, scoring="neg_mean_squared_error", cv=10)
#forest_rmse_scores = np.sqrt(-scores)
#display_scores(forest_rmse_scores)

In [39]:
#feature_importances = forest_reg.feature_importances_
#attributes = num_attribs + cat_attribs + list(encoder.categories_[1]) +  list(encoder.categories_[0])
#sorted(zip(feature_importances, attributes), reverse=True)

In [41]:
corrmat_fillna = data_fillna.corr()
corrmat_fillna["year"].sort_values(ascending=False)

year                  1.000000
price_per_m2          0.266118
building_year         0.186517
distance_to_center    0.120560
building_floors       0.090985
plot_share            0.069063
longitude             0.056609
latitude              0.046848
relative_share        0.016332
plot_area             0.005207
land_use_share       -0.066541
id                   -0.997929
Name: year, dtype: float64